.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3f51b5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.navList {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navList li:first-child {
  margin-right: 15px;
}

.link {
  display: block;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  transform: scale(1.03);
}
